* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #00ff00;
    color: black;
}

/* Style the content */
.content {
    background-color: #ddd;
    padding: 10px;
    height: 100%; /* Should be removed. Only for demonstration */
}

table {
    margin: 10px;
}

th {
    padding: 10px;
}

td {
    padding: 5px;
    text-align: justify;
}

input[type = text],
input[type = number],
input[type = search]{
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    text-decoration: none;
}

input[type = text]:hover,
input[type = number]:hover,
input[type = search]:hover {
    background-color: whitesmoke;
    color: black;
}

input[type = text]:focus,
input[type = number]:focus,
input[type = search]:focus {
    background-color: whitesmoke;
    color: black;
    outline: none;
}

input[type = submit] {
    border-radius: 10px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

input[type = submit]:hover {
    background-color: #333333;
    color: white;
}

/* Style the footer */
.footer {
	width: 100%;
    background-color: #f1f1f1;
	position: absolute;
    padding: 10px;
	bottom: 0;
}