{% extends "index.html" %}

{% block content %}
    <h2>Inserir Pessoa</h2>

    <div class="container col-md-2">
         <form action="" method="POST" class="form-group">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="nome">Nome: </label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="nome" name="nome">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="nome">Idade: </label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="idade" name="idade">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="nome">Salário: </label>
                <div class="col-sm-8">
                    <input class="form-control" type="number" id="salario" name="salario">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label" for="nome">Telefone: </label>
                <div class="col-sm-8">
                    <input class="form-control" type="text" id="telefone" name="telefone">
                </div>
            </div>
            <br/>
            <div class="form-group row">
                <div class="col-sm-8">
                    <input type="submit" class="btn btn-primary mb-2" value="Editar">
                </div>
            </div>
        </form>
    </div>
{% endblock %}