{% extends "index.html" %}

{% block content %}
    <h2 class="text-center">Pesquisar</h2>

    <form class="form-inline form-group-sm" action="{{ url_for('pesquisar') }}" method="POST" >
        <label>
            <input class="form-control my-2" type="search" id="pesquisar" name="pesquisar" placeholder="Pesquisar">
        </label>
        <input type="submit" value="Pesquisar" class="btn btn-outline-success my-2">
    </form>

    <table border='1' class="table table-responsive table-hover">
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Salário</th>
            <th>Telefone</th>
            <th>Cod</th>
        </tr>
        {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.id }}</td>
                <td>{{ pessoa.nome }}</td>
                <td>{{ pessoa.idade }}</td>
                <td>{{ pessoa.salario }}</td>
                <td>{{ pessoa.telefone }}</td>
                <td>{{ pessoa.cod }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}